body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
  color: #434455;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.nav-list .nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts .contacts-link {
  display: block;
  padding: 24px 0;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.nav-list .nav-link:hover,
.nav-list .nav-link:focus,
.contacts-list .contacts-link:hover,
.contacts-list .contacts-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

p {
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.title {
  background-color: #2e2f42;
}

.title-head {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.title-button {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
}

.title-button:hover,
.title-button:focus {
  background-color: #404bbf;
  text-decoration: underline;
}

.feature {
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list,
.feature-item {
  border: none;
}

.feature-item_title,
.team-item_title,
.portfolio-item_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-item_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}
.team {
  text-transform: capitalize;
  text-align: center;
  background: #f4f4fd;
}

.team-hide {
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list,
.team-item {
  background-color: #ffffff;
}

.team_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio {
  text-transform: capitalize;
}

.portfolio-hide {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-list,
.portfolio-item {
  background-color: #ffffff;
}

.portfolio-text {
  text-align: left;
  font-size: 16px;
  text-indent: 0;
}
.footer-text {
  color: #434455;
}

.page-footer {
  background: #2e2f42;
  text-align: left;
}

.footer-text {
  color: #f4f4fd;
}
